/* 通用样式 */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container:nth-child(even) {
  background-color: #ffffff;
}

.container:nth-child(odd) {
  background-color: #d3d3d34d;
}

h3 {
  display: flex;
  justify-content: space-between;
}

.btn {
  cursor: pointer;
  font-size: 15px;
}

.btn:hover {
  color: lightblue;
}

.area {
  display: flex;
  justify-content: space-around;
}

.box,
.edit {
  width: 500px;
  height: 300px;
  box-shadow: 0 0 20px -10px hsl(187, 97%, 24%);

}

.box {
  overflow: hidden;
  /* overflow为非visible时有效 */
  /* 设置可以手动调节dom大小 */
  resize: both;
}


.box {
  margin-right: 20px;
}

.box>div {
  /* 允许单句自动换行 */
  word-wrap: break-word;
}

.box>div>p {
  margin: 0;
  padding: 10px;
}

.code-css,
.code-html {
  /* 设置如何处理留白 */
  white-space: pre-wrap;
  outline: none;
  overflow-y: scroll;
  height: 100%;
  background-color: #ffffff;
  margin: 0;
  font-size: 16px;
}

/* 左定自适应 */
.one div {
  height: 100%;
}

.one .left {
  width: 100px;
  float: left;
  background-color: lightblue;
  overflow: hidden;
}

.one .right {
  width: auto;
  margin-left: 100px;
  background-color: lightcoral;
}